<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">

        <div id="imagem" style="width: 600px; height: 315px">
          <img src="../../images/back01.jpg"/>
          
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="preview()" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>